@charset "utf-8";
/**
 * 手機
 */
@mixin phone($size: 200px, $color: #66c) {
  $borderSize: $size*.04;
  $height: $size - $borderSize * 2;
  width: floor(.5 * $size);
  height: $height;
  &::after {
    content: 'Orz';
    border: solid $borderSize #1d1d1d;
    border-radius: $borderSize;
    background-image: linear-gradient(117deg, lighten($color, 5%) 50%, $color 51%);
    font-size: $size / 5;
    text-align: center;
    color: #FFF;
    width: 100%;
    height: 100%;
    line-height: $height;
    display: block;
  }
}