@charset "utf-8";
/**
 * 插頭
 */
@mixin plug($size: 200px, $color: #66c) {
  width: $size * .2;
  height: $size;

  $leftSize: floor($size*.1);
  $leftTop: 0;
  $leftSpaceSize: floor($size*.025);
  $leftSpaceTop: $leftTop + $leftSize;
  $rightSize: floor($size*.075);
  $rightTop: $leftSpaceTop + $leftSpaceSize;
  $rightSpaceSize: floor($leftSpaceSize);
  $rightSpaceTop: $rightTop + $rightSize;
  $gndSize: floor($size*.15);
  $gndTop: $rightSpaceTop + $rightSpaceSize;
  $gndSpaceSize: floor($size*.325);
  $gndSpaceTop: $gndTop + $gndSize;
  $tail1Size: floor($size*.025);
  $tail1Top: $gndSpaceSize + $gndSpaceTop;
  $tail2Size: floor($tail1Size);
  $tail2Top: $tail1Top + $tail1Size;
  $wireTop: $tail2Size + $tail2Top;

  background:
    // left
    linear-gradient(to right, transparent #{$size*.075}, $color #{$size*.075}, $color #{$size*.125}, transparent #{$size*.125}) 0 #{$leftTop}/100% $leftSize no-repeat,
    // left-space
    linear-gradient(to right, transparent #{$size*.075}, #1d1d1d #{$size*.075}, #1d1d1d #{$size*.125}, transparent #{$size*.125}) 0 #{$leftSpaceTop}/100% $leftSpaceSize no-repeat,
    // right
    linear-gradient(to right, transparent #{$size*.065}, $color #{$size*.065}, $color #{$size*.135}, transparent #{$size*.135}) 0 #{$rightTop}/100% $rightSize no-repeat,
    // right-space
    linear-gradient(to right, transparent #{$size*.065}, #1d1d1d #{$size*.065}, #1d1d1d #{$size*.135}, transparent #{$size*.135}) 0 #{$rightSpaceTop}/100% $rightSpaceSize no-repeat,
    // gnd
    linear-gradient(to right, transparent #{$size*.05}, $color #{$size*.05}, $color #{$size*.15}, transparent #{$size*.15}) 0 #{$gndTop}/100% $gndSize no-repeat,
    // gnd-space
    linear-gradient(to right, #1d1d1d 0, #1d1d1d 100%) 0 #{$gndSpaceTop}/100% $gndSpaceSize no-repeat,
    // tail-1
    linear-gradient(to right, transparent #{$size*.02}, #1d1d1d #{$size*.02}, #1d1d1d #{$size*.18}, transparent #{$size*.18}) 0 #{$tail1Top}/100% $tail1Size no-repeat,
    // tail-2
    linear-gradient(to right, transparent #{$size*.04}, #1d1d1d #{$size*.04}, #1d1d1d #{$size*.16}, transparent #{$size*.16}) 0 #{$tail2Top}/100% $tail2Size no-repeat,
    // wire
    linear-gradient(to right, transparent #{$size*.075}, #1d1d1d, #{$size*.075}, #1d1d1d #{$size*.125}, transparent #{$size*.125}) 0 #{$wireTop}/100% auto no-repeat;
    ;
}